@use 'config' as *;

.discography-section {
    background-color: $light;
    padding-top: 4rem;
    padding-bottom: 6rem;

    &-container {
        h2 {
            @include text-section-heading;
            color: $primary;
            margin-bottom: 1.5rem;
        }

        p {
            @include text-song-credit;
            color: $dark;
            text-align: center;

            &.credits-key {
                margin-bottom: 3rem;
            }
        }

        .album-grid {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            @include tablet {
                gap: 2rem;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            .album-link {
                text-decoration: none;

                .album-cell {
                    figure {
                        margin-bottom: 0.5rem;
                        max-width: 18.75rem;
                        position: relative;

                        img {
                            object-fit: cover;
                            width: 100%;
                        }

                        .button-overlay {
                            align-items: center;
                            cursor: pointer;
                            display: flex;
                            flex-direction: column;
                            inset: 0;
                            justify-content: center;
                            position: absolute;
                            z-index: 5;

                            img {
                                height: 5rem;
                                opacity: 0;
                                transition: all 0.2s ease-in-out;
                                width: 5rem;
                            }

                            &:hover {
                                img {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}